apiVersion: v1
kind: ConfigMap
metadata:
  name: kyosm-config
  namespace: customer-service
data:
  000-default.conf: |
    <VirtualHost *:80>
        ServerAdmin webmaster@localhost
        DocumentRoot /var/www/html/pub

        <Directory /var/www/html/pub>
            Options Indexes FollowSymLinks
            AllowOverride All
            Require all granted
        </Directory>

        ErrorLog ${APACHE_LOG_DIR}/error.log
        CustomLog ${APACHE_LOG_DIR}/access.log combined
    </VirtualHost>